# ======================================================================= #
# This docker files was built by the Perforce Software Swarm team to demo # 
# swarm in a docker environment.                                          #
# ======================================================================= #

# P4D Configuration

P4D_SUPER_PASSWD=
P4D_PORT=ssl:perforce.server:1666

P4D_SUPER=super
P4D_GRACE=15

# Swarm Configuration

SWARM_VER="latest"

SWARM_USER=swarm
SWARM_PASSWD=
SWARM_MAILHOST=localhost
SWARM_HOST=localhost
SWARM_REDIS=helix.redis

# If set to 'y', then extensions will be installed even if they already
# exist, overwriting existing configuration.
SWARM_FORCE_EXT=y

